\documentclass[10pt,a4paper]{article}
{{latex_font_setup}}
\input{moj-form-macros.tex}
\pagestyle{empty}
\setlength{\parindent}{1em}
\setlength{\parskip}{0.2em}

\begin{document}

{{honsha_section}}

\newpage

{{touki_section}}

{{touki_old_section}}

\end{document}
